.swiper {
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    font-size: 20px;
    color: #00dab2;
    font-weight: 900;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px;
} 